<%= title "welcome to HEARSAY. Login. Signup." %>

<h1 id="splash">HEARSAY</h1>

<h2 style="margin-bottom:25px;text-align:center;width:965px;"><%= @subtitle.rand %></h2>

<div id="subtitles">
	<%= link_to 'Sign Up Now!', signup_path, :id => "signup" %>
	<h3>because who we think we are and what others think of us is often very different.</h3>
</div>

<div style="float:left;">
<% form_tag session_path do %>
	<h3>already a member? login below:</h3>

				<%= text_field_tag 'login', @login, :value => "username or email", :onfocus => "if (this.value == 'username or email') this.value = ''" %><br />

				<%= password_field_tag 'password', nil, :value => "password", :onfocus => "if (this.value == 'password') this.value = ''" %>
				<% if params[:return_to] %>
					<%= hidden_field_tag(:return_to, params[:return_to]) %>
				<% end %> 
				<div id="options">

					<%= label_tag 'remember_me', 'Remember me' %>
					<%= check_box_tag 'remember_me', '1', @remember_me %>
	
					<%= submit_tag 'Login', :id => "submit", :class => "button" %>
			
					<br />
			
					<div style="margin: 5px 0 0 45px;"><%= link_to 'Forgot Password?', forgot_password_path %></div>
				
				</div>

<% end -%>

</div>

<div class="clear"></div>

<div id="splash_cats">
<h2>recent curios</h2>
	<%= render :partial => "splash_cats" %>
</div>



<div id="accordion">
	<h2 class="accordion_toggle">what?</h2>
	<h3 class="accordion_content">on hearsay you edit your friends profile and they edit yours.</h3>

	<h2 class="accordion_toggle">how?</h2>
	<h3 class="accordion_content">it’s simple. create profile categories, called curious, that your friends fill out for you. fill out your friends profiles. vote for your favorite responses. the highest rated response gets displayed in the profile.</h3>

	<h2 class="accordion_toggle">why?</h2>
	<h3 class="accordion_content">curiosity about how you are really percieved. learning how much your friends really know about you. the chance to tell your friends what you think of them. </h3>
</div>
