<div style="float:right;margin-top:80px;">
	<script type="text/javascript"><!--
	google_ad_client = "pub-8909561621860243";
	/* 160x600, created 7/30/10 */
	google_ad_slot = "9617026026";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<% unless @user == current_user %>
	
	<%= title "#{@user.login} has #{pluralize(@user.friends.count, "friend")}", :h2 %>
	
		<ul id="users_list">
			<%= render :partial => 'friends/users_friends' %>
		</ul>

<% else %>

<%= title "you have #{pluralize(@user.friends.count, "friend")}", :h2 %>

	<ul id="users_list">
		<%= render :partial => 'friends/pending_friends' %>	
	</ul>
	

	<ul id="users_list">
		<%= render :partial => 'friends/friends' %>
	</ul>
	
	<ul id="users_list">
		<%= render :partial => 'friends/requested_friends' %>
	</ul>
	

<% end %>

