<%= render :partial => "users/setup_nav" %>

<%= title "create profile curios", :h2 %>
<h3>Curios are profile categories on HEARSAY.<br />
your friends will fill out these categories for you.<br />
Here are some suggestions.  You can always <br />
create custom ones later on your homepage.
</h3>


<% form_tag :controller => 'cats', :action => 'create_suggestions' do %>
	<ul id="suggestions">				
		<% for e in @suggestions %>
			<li>
				<%= check_box_tag "suggestion_ids[]", e %>
				<span style="font-weight:bold;"><%= e %></span>
			</li>
		<% end %>
	</ul>	
	
	<span style="margin-left:300px;">
		<%= link_to "skip this step", home_path %>
		<%= submit_tag "create curios and finish!", :class => "button" %>
	</span>
	
<% end %>

<div style="float:left; margin-top:50px;">
	<script type="text/javascript"><!--
	google_ad_client = "pub-8909561621860243";
	/* 728x90, created 7/30/10 */
	google_ad_slot = "7324933588";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>