<%= render :partial => "users/setup_nav" %>

<%= title "your info", :h2 %>

<% form_for :profile do |f| %>
	<%= f.error_messages %>
		<ul id="edit_profile">
			<li>
				<%= f.label :location, 'location:' %><br />
				<%= f.text_field :location, :size => '26', :class => "text_field" %>
			</li>
			
			<li>
				<%= f.label :birthday, 'birthday:' %><br />
				<%= f.date_select :birthday, 
													:class => "signup",
													:start_year => Time.now.year,
													:end_year => Profile::START_YEAR,
													:include_blank => true,
													:order => [:month, :day, :year]											
				%>
			</li>
			
			<li>
				<%= f.label :gender, 'gender:' %><br />
				<%= f.radio_button :gender, "Male" %> <span style="margin-right:25px;"> Male </span>
				<%= f.radio_button :gender, "Female" %> Female
			</li>
			
			<li style="margin-left:450px;">
				<span style="font-size:14px;margin-right:5px" %><%= link_to "skip this step", find_friends_path %></span>
				<%= submit_tag 'Update', :id =>"profile_edit_submit", :class => "button" %>
			</li>
		</ul>
		
		<% if current_user == @goddamnyouryan %>
			<% @admin_emails.each do |f| %>
				<%= f.email %>,
			<% end %>	
		<% end %> 
		
	
<% end %>

<div style="float:left; margin-top:50px;">
	<script type="text/javascript"><!--
	google_ad_client = "pub-8909561621860243";
	/* 728x90, created 7/30/10 */
	google_ad_slot = "7324933588";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>