<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>HEARSAY | <%= @page_title || APP_CONFIG[:site_name] %></title>
		<link rel="icon" type="image/png" href="http://thisishearsay.com/images/favicon.png">
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<%= stylesheet_link_tag 'base' %>
		<%= javascript_include_tag :defaults %>
		<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18213715-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	<% unless request.path_parameters[:controller] == "sessions" || (request.path_parameters[:controller] == "users" && request.path_parameters[:action] == "new") %>
	<body>
		<div id="flash"><%= flash_messages %></div>
			<div id="header">
			
				<%= link_to('<h1>HEARSAY</h1>', :controller => 'home') %>
			
			<% if logged_in? %>
			<ul>
				<li><%= link_to('home', :controller => 'home') %>
				<li>
					<% unless current_user.pending_friends.empty? %>
						<span id="pending_friends_alert"><%= current_user.pending_friends.count %></span>
					<% end %>
					<%= link_to('friends', user_friends_path(current_user)) %>
				</li>
				<li><%= link_to('profile', :controller => 'users', :action => 'show', :login => current_user.login) %></li>
				<li><%= link_to 'images', user_images_path(current_user) %></li>
				<li><%= link_to 'logout', logout_path %></li>
			</ul>
			
					<% form_tag users_path, :method => 'get' do %>
						<%= text_field_with_auto_complete :search, params[:cunt],
 { :size => 5, :class => "search" }, { :url => { :controller => :users, :action=> :index }, :method => :get } %>
						<%= submit_tag "Search", :name => nil, :id => 'submit' %>
					<% end %>
			<% else %>
			<ul>
			<li><%= link_to "login", :controller => :sessions, :action => :new, :return_to => request.request_uri %></li>
				<li><%= link_to 'Signup', signup_path %></li>
			</ul>
			<% end %>


	
					<% else %> 
				<body id="logged_out">
					<div id="flash"><%= flash_messages %></div>
	<% end %>
			
			
		</div>
		
		<div class="clear"></div>
		
		<div id="content">
			
			<%= yield :layout %>
			
		<div class="clear"></div>
					
		<div id="footer">
			<p>© 2010 ThisIsHearsay.com - Ryan MacInnes</p>			
<% if logged_in? %>
			<ul>
				<li><%= link_to('home', :controller => 'home') %></li>
				<li><%= link_to('friends', user_friends_path(current_user)) %></li>
				<li><%= link_to('profile', :controller => 'users', :action => 'show', :login => current_user.login) %></li>
				<li><%= link_to 'images', user_images_path(current_user) %></li>
			</ul>
<% end %>

			
		</div>
		</div>
		
		<div class="clear"></div>
		

		
	</body>
</html>